<svelte:head>
<title>Home</title>
<meta name="description" content="Artificial University (Parens Editor)" />
</svelte:head>

<section>

<textarea id="editor">
Dialect: Wedding English. This template is dedicated to my wife, Victoria.

Rules:

1: (Couples) (must) sit (adjacent).

2: (Friends) (should) sit (adjacent).

3: (Family) (should) sit (together).

4: (Enemies) (must not) sit (together).

Facts:

- There are (5) tables.

- Tables have (10) chairs.

- (John) and (Jane) are (married).

- (Cain) and (Abel) are (brothers).

- (Adelaide), (Ada), and (Athena) are (friends).

- (Tom) and (Jerry) are (enemies).
</textarea>

</section>

<style>
#editor {
	width: calc(100% - 15px);
	height: calc(50vh - 15px);
	background-color: black;
	color: white;
	font-family:'Courier New', Courier, monospace;
	border: solid 1px #cdc6ff !important;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: bold;
}
</style>
