<script>

function cogitate() {
	var database = document.getElementById("editor").value;

	// var session = pl.create();

	var message = "Database size: " + database.length + " tokens.";

	console.log(message);
	console.log("---");
	// console.log(database);

	let requestObj = { 
		body: database
	}

	let request = JSON.stringify(requestObj);

	console.log(request);

	fetch("https://lisp.llc/api/", {
		method: 'post',
		body: request,
	})
	.then(response => response.text())
	.then(data => {
		console.log("Successful request: " + data);
		document.getElementById("results").innerHTML = "<p>" + data + "</p>";
		document.getElementById("results").style.display = "block";
	})
	.catch(error => {
		document.getElementById("results").innerHTML = "<p>In the interest of preventative cybersecurity, the LISP.LLC English-to-Prolog API has been temporarily disabled.</p>";
		document.getElementById("results").style.display = "block";
	});
}

</script>

<button id="brain-button" on:click={cogitate}>🧠<br />(COGITATE)</button>

<style>

#brain-button,
#brain-button:hover {
	background-color: rgb(0, 0, 0);
	border: none;
	cursor: pointer;
	color: #cdc6ff;
	border: solid 1px rgb(0, 0, 0);
	font-family:'Courier New', Courier, monospace;
}

#brain-button:hover {
	border: solid 1px #cdc6ff;
}

</style>
