<section>

<div id="results"></div>

</section>

<style>
#results {
	display: none;
	max-width: 100%;
	background-color: black;
	color: white;
	font-family:'Courier New', Courier, monospace;
	border: solid 1px #cdc6ff !important;
	margin-top: 15px;
}
</style>
